/*CSS DOCUMENT*/
html, body, div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,
i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container {
    background: url(Surf.jpg) center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    max-width: 110em;
    margin: auto;
    background-color: #fff;
}

div.container {
    position: relative;
    min-height: 100vh;
    max-width: 110em;
    margin: auto;
    background-color: #fff;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */
body {
font-family: "effra";
font-weight: 400;
font-style: normal;
}

main {
    padding: 1em 2em 5em;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

img.appetizers{ 
    width: 100%;
    display: block; 
    object-fit: cover;
    aspect-ratio: 16 / 5;
    object-position: 0% 50%;
}

img.entree{ 
    width: 100%;
    display: block;
    object-fit:cover;
    object-position: 0% 60;
    aspect-ratio: 16 / 5;
}
img.sushi{ 
    width: 100%;
    display: block;
    object-fit:cover;
    object-position: 0% 60;
    aspect-ratio: 16 / 5;
}
img.nigiri{ 
    width: 100%;
    display: block;
    object-fit:cover;
    object-position: 0% 60;
    aspect-ratio: 16 / 5;
}
img.dessert{ 
    width: 100%;
    display: block;
    object-fit:cover;
    object-position: 0% 60;
    aspect-ratio: 16 / 5;
}
img.beverage{ 
    width: 100%;
    display: block;
    object-fit:cover;
    object-position: 0% 60;
    aspect-ratio: 16 / 5;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    padding: 1.4em 1em;
}

h1 {
    width: 10em;
}

h2,h3,h4 {
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin: 1em 0em 0.5em;
}

h3 {
    font-size: 1.5em;
    margin: 1em 0em 1em;
}

a {
    text-decoration: none;
}

nav ul {
    text-align: right;
}

ul li {
    list-style-type: none;
    padding: 1em 0em 0em;
}

figure {
    margin-bottom: none;
}

main.menu ul {
    margin: 1em 0em;
}

main.menu ul li {
    margin: 1em 0em 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

p {
    margin: 1.5em 0em 1.5em;
}

p.description {
    grid-column: 1/3;
    margin: 0em 0em;
}

p.price {
    grid-row: 1/2;
    grid-column: 3/3;
    color: #959595;
    text-align: right;
    margin: 0em;
    font-family: "arabic-typesetting";
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin: 0.5em;
}

nav ul li a {
    color: rgb(139, 139, 139);
    background-color: rgb(125, 125, 125);
    padding: 0.3em 0.3em 0.3em;
    border-radius: 0.5em;
    font-family: "arabic-typesetting";
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}
p.slogan {
    font-size: 4em;
    font-family: serif;
    font-style: italic;
    margin: 1em 0em 2em;
    color: #fff;
}
p.time{
    font-family: "arabic-typesetting";
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 1.5em;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 1em 1em;
    background-color: rgb(255, 255, 255);
}
address{
    font-family: "arabic-typesetting";
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 1.5em;
}
footer p {
    margin: 0em 0em;
    text-align: center;
}
nav ul li.selected a {
    background-color: #3456a0;
    color: #fff;
}
article {
    /* background-color: #00ffff; */
    max-width: 60em;
    margin: auto;
}
@media screen and (min-width: 60em) {
    body {
        background-color: #ffffff;
        margin: 0px 100px;
    }
    nav ul li {
        display: inline;
    }
    nav {
        margin-top: 1em;
    }
    main.menu ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0em 5.5em;
    }
}
